@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;&family=Noto+Sans&family=Manrope:wght@400;500;600;700&family=Plus+Jakarta+Sans:wght@400;500;600;700&family=Noto+Sans&family=Pacifico:wght@400;500;600;700&family=Poppins:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden; 
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #050505; 
  color: #fff; 
  font-family: 'Roboto', 'Poppins', 'NotoSans', 'PlusJakartaSans','Pacifico','Montserrat','Manrope',sans-serif;
}

